<div id="main_welcome">
  <h1>Make new friends this christmas</h1>
  <div id="snowflakes" aria-hidden="true">
    <div id="snowflake">
    ❅
    </div>
    <div id="snowflake">
    ❅
    </div>
    <div id="snowflake">
    ❆
    </div>
    <div id="snowflake">
    ❄
    </div>
    <div id="snowflake">
    ❅
    </div>
    <div id="snowflake">
    ❆
    </div>
    <div id="snowflake">
    ❄
    </div>
    <div id="snowflake">
    ❅
    </div>
    <div id="snowflake">
    ❆
    </div>
    <div id="snowflake">
    ❄
    </div>
    <%= link_to "Lets Get Start!", new_group_path, class: "btn btn-success" %>
  </div>
