<div id="<%= dom_id gift %>">
  <p>
    <strong>Name:</strong>
    <%= gift.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= gift.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gift.description %>
  </p>

</div>
